@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
}

#wrapper {
    background-color: #f3f2f0;
}

/* Header */
#header-container {
    height: 50px;
    width: 100%;
    top: 0;
    background-color: #0b3e6f;
    margin-bottom: 10px;
}

#header {
	position: relative;
	height: 50px;
	text-align: center;
	color: #eee;
	width: 100%;
}

#header > span {
	line-height: 50px;
	vertical-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
}

/* Main Content */
#main-container {
    margin-bottom: 10px;
    height: 700px;
    width: 100%;
}

/* Footer */
#footer-container {
    height: 50px;
    width: 100%;
    top: 0;
    background-color: #0b3e6f;
}

#footer {
	position: relative;
	height: 50px;
	text-align: center;
	color: #eee;
	width: 100%;
}

#footer > span {
	line-height: 50px;
	vertical-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#footer > span > a {
	text-decoration: none;
	color: #eee;
}
 
#header {
	width: 100%;
    float:left;
    display:block;
}

/* Header Divs */
#nav-menu {
    height: 50px;
    float: left;
    width: 60%;
}

#nav-login {
    height:50px;
    float:left;
    width:40%
}

/* Main Content Divs */
#sidebar {
    height: 100%;
    float: left;
    width: 20%;
}

#lat-lon {
    -moz-border-radius: 4px;  /* for Firefox */
    -webkit-border-radius: 4px; /* for Webkit-Browsers */
    border-radius: 4px; /* regular */
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    background-color: white;
    height: 100px;
}

#loc-info {
    -moz-border-radius: 4px;  /* for Firefox */
    -webkit-border-radius: 4px; /* for Webkit-Browsers */
    border-radius: 4px; /* regular */
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    background-color: white;
    height: 210px;
}

#race-or-age-div {
    -moz-border-radius: 4px;  /* for Firefox */
    -webkit-border-radius: 4px; /* for Webkit-Browsers */
    border-radius: 4px; /* regular */
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    background-color: white;
    height: 50px;
}

.inst-text {
    margin: 5px 5px 5px 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.ltln-text {
    margin: 15px 5px 15px 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.lcinfo-text {
    margin: 15px 5px 15px 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.msg-text {
    margin: 15px 5px 15px 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: red;
}

.popup-text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#race-or-age-label {
    margin: 15px 5px 15px 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#race-or-age {
    margin: 15px 15px 15px 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#content {
    height: 100%;
    float: left;
    width: 80%;
}

/* Tabs */
#tabs {
    height: 700px;
    width: 98%;
    -moz-border-radius: 4px;  /* for Firefox */
    -webkit-border-radius: 4px; /* for Webkit-Browsers */
    border-radius: 4px; /* regular */
    border: 1px solid black;
    background-color: white;
}

#tabs-map, #tabs-plot, #tabs-datatable {
    background-color: white;
}

.tabs li {
    list-style: none;
    display: inline;
}

.tabs a {
    display: inline-block;
    background:#666;
    color:#fff;
    text-decoration:none;
}

.tabs a.active {
    background:#fff;
    color:#fff;
}

/* Tabs */
.ui-tabs {
    padding: 0;
    border: 0;
}
.ui-tabs-nav {
    font-size: 12px;
}
.ui-tabs .ui-tabs-panel {
    font-size: 14px;
    padding: 0;
}
.jqplot-target {
    font-size: 18px;
}
ol.description {
    list-style-position: inside;
    font-size: 15px;
    padding: 0 15px;
}

/* Map */
#map {
    height: 666px;
    width: 100%;
}

#plot {
    height: 646px;
    width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}

#datatable {
    height: 646px;
    width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}

/* jqGrid wrap header */
th.ui-th-column div{
    word-wrap: break-word; /* IE 5.5+ and CSS3 */
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow: hidden;
    height: auto !important;
    vertical-align: middle;
}