@charset "utf-8";
/* CSS Document */
 
body {
	margin: 0px;
	padding: 0px;
}

#header-container {
    height: 50px;
    /*position: fixed;*/
    width: 100%;
    top: 0;
    background-color: #4e9a9f;
}

#main-container {
    /*margin: 50px 0 0 0;*/
    margin: 0;
    height: 700px;
    width: 100%;
}
 
#header {
	width: 100%;
    float:left;
    display:block;
}

/* Header Divs */
#nav-menu {
    height: 50px;
    float: left;
    width: 60%;
}

#nav-login {
    height:50px;
    float:left;
    width:40%
}

/* Navigation */
#nav-menu ul {
	text-align: left;
	margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
 
#nav-menu ul li {
	display: inline;
	padding-top: 15px;
    padding-bottom: 15px;
	margin: 0px;
}

.nav-menu-list-item > a {
	text-decoration: none;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    height: 50px;
}

.nav-menu-list > li > a:hover, .nav-list > li > a:focus {
	background-color: #8CC63F;
	color: #EEE;
	text-decoration: none;
}

/* Navigation Login Logout */
#nav-login ul {
	text-align: right;
	margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
 
#nav-login ul li {
	display: inline;
	padding-top: 15px;
    padding-bottom: 15px;
	margin: 0px;
}

#login-btn {
    background-color: #1C546E;
    color: #EEE;
}

#logout-btn {
    background-color: #F99D1A;
}

/* Main Content Divs */
#sidebar {
    height: 100%;
    float: left;
    width: 20%;
}

#content {
    height: 100%;
    float: left;
    width: 80%;
}

/* Tabs */
#tabs {
    height: 700px;
    width: 100%;
}
#tabs-map, #tabs-plot, #tabs-datatable {
    background:#fff;
}

.tabs li {
    list-style: none;
    display: inline;
}

.tabs a {
    /*padding:5px 10px;*/
    display:inline-block;
    background:#666;
    color:#fff;
    text-decoration:none;
}

.tabs a.active {
    background:#fff;
    color:#000;
}

/* Tabs */
.ui-tabs {
    padding: 0;
    border: 0;
}
.ui-tabs-nav {
    font-size: 12px;
}
.ui-tabs .ui-tabs-panel {
    font-size: 14px;
    padding: 0;
}
.jqplot-target {
    font-size: 18px;
}
ol.description {
    list-style-position: inside;
    font-size: 15px;
    /*margin: 1.5em auto;*/
    padding: 0 15px;
    /*width: 600px;*/
}

/* Map */
#map {
    height: 666px;
    width: 100%;
}

#plot {
    height: 666px;
    width: 1000px;
}

/* jqGrid wrap header */
th.ui-th-column div{
    word-wrap: break-word; /* IE 5.5+ and CSS3 */
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow: hidden;
    height: auto !important;
    vertical-align: middle;
}