@charset "utf-8";
/* CSS Document */
 
body {
	margin: 0px;
	padding: 0px;
}

#header-container {
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ed9d9d;
}

#main-container {
    margin: 50px 0 0 0;
    height: 600px;
    width: 100%;
    background-color: #5e939b;
    /*border: 1px solid #000;*/
}
 
#header {
	width: 100%;
    float:left;
    display:block;
}

/* Header Divs */
#nav-menu {
    height: 50px;
    float: left;
    width: 60%;
}

#nav-login {
    height:50px;
    float:left;
    width:40%
}

/* Navigation */
#nav-menu ul {
	text-align: left;
	margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
 
#nav-menu ul li {
	display: inline;
	padding-top: 15px;
    padding-bottom: 15px;
	margin: 0px;
}

.nav-menu-list-item > a {
	text-decoration: none;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    height: 50px;
}

.nav-menu-list > li > a:hover, .nav-list > li > a:focus {
	background-color: #8CC63F;
	color: #EEE;
	text-decoration: none;
}

/* Navigation Login Logout */
#nav-login ul {
	text-align: right;
	margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
 
#nav-login ul li {
	display: inline;
	padding-top: 15px;
    padding-bottom: 15px;
	margin: 0px;
}

#login-btn {
    background-color: #1C546E;
    color: #EEE;
}

#logout-btn {
    background-color: #F99D1A;
}

/* Main Content Divs */
#sidebar {
    height: 200px;
    float: left;
    width: 20%;
}

#content {
    height: 500px;
    float: left;
    width: 78%;
}

/* Tabs */
#tab-map, #tab-graph, #tab-datatable {
    /*padding: 1px;*/
    width: 100%;
    background:#fff;
}

.tabs li {
    list-style: none;
    display: inline;
}

.tabs a {
    padding:5px 10px;
    display:inline-block;
    background:#666;
    color:#fff;
    text-decoration:none;
}

.tabs a.active {
    background:#fff;
    color:#000;
}

/* Map */
#map {
    width: 100%;
    height: 500px;
}