

#shadow {
     border: 2px solid #000;
    padding: 10px 40px;
     width: 300px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

#round-border {
    border: 2px solid #000;
    padding: 10px 40px;
    background: #d3d1d1;
    width: 300px;
    border-radius: 25px;
    -webkit-border-radius: 25px;    
}

