#img {
    opacity:0.4;
    filter:alpha(opacity=40);
    width: 120px;
}

#img:hover {
            opacity:1.0;
            filter:alpha(opacity=100);
             }
#hov-div {
    width:100px;
    height:100px;
    background:#0094ff;
    transition:width 2s,height 2s, background 1s;
    -webkit-transition:width 2s,height 2s, background 1s;
    }

    #hov-div:hover {
        height: 475px;
        width: 500px;
        background:#ffd800;
    }


